body, html {
	height: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}
.bg-img {
  height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img1 { 
  background-image: url("../image/img1.jpg"); 
}
.img2 { 
  background-image: url("../image/img2.jpg"); 
}
.img3 { 
  background-image: url("../image/img3.jpg");
 }
.img4 { 
  background-image: url("../image/img4.jpg");
 }

.bg-text {
  background-color: rgba(175, 170, 170, 0.3);
  color: white;
  border: 3px solid #f1f1f1;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 28%;
  width: 45%;
  z-index: 2;
  height: 80%;
  text-align: center;
  border-radius: 20%;
}