html {
	font-family: 'Nunito', sans-serif;
}
/*.main {
	text-align: center;
	padding: 15px;
	margin: 30px;
}*/
.user_main {

}
.avatar_icon {
	margin-bottom: -15rem;
}
.avatar_image {
	border-radius: 50%;
	border: 5px solid #e6e6e6;
	height: 35%;
	width: 35%;
}
.name_pos {
	/* padding: 15rem; */
	margin-top: 16rem;
}
.name_name {
	font-family: 'Mansalva', cursive;
	font-size: 40px;
	margin-top: 20px;
	color: #0b350d;
	text-shadow: 3px -1px 3px #b0b9af;
}
.position {
	font-size: 18px;
	color: #162b17;
	text-shadow: 3px -1px 1px #adb1ad;
	font-weight: bold;
	font-family: monospace;
	text-transform: uppercase;
	margin-top: -25px;
	margin-bottom: 2rem;
	}
    .position span {
			color: red
		}
.desc_user {
	text-align: center;
	word-break: break-word;
	font-size: 100%;
	color: #c5c5c5;
	font-family: Nunito;
	background-color: #0102008c;
	width: 80%;
	padding: 1%;
	margin: 0 auto;
	border-radius: 2%;
	/*padding: 0px 0 15px 0;*/
}
.desc_user:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin: 24px auto;
    background: #ccc
}
.skills {
	text-align: center;
	margin-bottom: 4rem;
	color: #0b350d;
	font-weight: bold;
	text-shadow: 3px -1px 3px #b0b9af;
	
}
.skills_heading {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 15px;
	
}
.skills_set {
	/*display: table;*/
	align-content: content;
	vertical-align: middle;
	font-family: monospace
}
.skill_list span:not(:last-child):after {
	content:' -'
	
}
.icon {
	
}
.footer {
	height: 6rem;
	background-color:black;
	border-top: 1px solid #c5c5c5
}
.footer_heading {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #c5c5c5;
}
.footer_soc {
	text-align: center;
	list-style: none;
}
.footer_soc span {
	
}

.link-icon {
	color: #c5c5c5;
}